@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Asegurar que inputs y selects tengan buen contraste */
input,
select,
textarea {
  color: #111827 !important;
}

input::placeholder,
textarea::placeholder {
  color: #6b7280 !important;
}
